* {
  margin: 0;
  padding: 0;

}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black;
  padding: 3rem;
}



#header {
  display: block; 
  position: relative;
  background-color: rgba(4, 16, 16,.7);
  height: 90vh;
}

.links {
  position: absolute;
  top:1rem;
  right: 0;
}

.btn-link {
  font-size: 3rem;
  color: white;
  display: inline-block;
  transition: all .2s;
  animation: fadein 2s ease-in;
}

.fcc-logo {
  width: 4rem;
}
.header__text--box {
  width: 100rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary__main {
  font-size: 4rem;
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation: fadein 2s ease-in;

}

.heading-primary__sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: fadein 2s ease-in;
}

.heading-primary-mobile {
  display: none;
}

.btn {
  color: white;
  text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 2rem;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn:hover {
    transform: scale(1.2);
   
    

  }

.btn:active {
    transform: translateY(-.1rem);
   
  }

.navbar-btn {
  font-size: 1.6rem;
    margin-bottom: 2rem;
    display: inline-block;
    transition: all .2s;
    animation: fadein 2s ease-in;
}


@keyframes fadein {
  0% {opacity: 0;}
  100% { opacity: 1;}
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #eee;
  }



#about-modal {
  display: none;
  background-color: #eee;
  margin-top: 3rem;
  margin-left: 4rem;
  width: 94%;
  height: 90vh;
}

.about__content {
  position: relative;
}

.close-x {
  position: absolute;
  top: 0;
  right: 3rem;
}

.close {
  color: #aaaaaa;
  cursor: pointer;
  font-size: 4rem;
}

.close:hover,
.close:focus {
  color: #000;
  transform: scale(1.2);
}

.about__profilepic--box {
  position: absolute;
  top: 50%;
  left: 5rem;
  transform: translateY(-50%);
}

.about__profilepic {
  width: 40rem;
  border-radius: 50%;
}

.about-details {
  margin-top: 15rem;
  margin-left: 0rem;
}

.about__header {
  margin-top: 10rem;
  margin-left: 50rem;
  text-transform: uppercase;
  letter-spacing: 1.1rem;
  font-size: 2.5rem;
}

.about__summary {
  width: 50rem;
  margin: 1rem 50rem;
  font-size: 1.6rem;
}

.about__tech-list {
  display: inline-block;
  margin: 5rem 5rem 10rem 50rem;
}

.about__skills-list {
  display: inline-block;
}

.about__list-title {
  font-size: 2rem;
}

li {
  margin-left: 2rem;
}

#projects-modal {
  display: block;
  background-color: rgba(4, 16, 16,.7);
  height: 90vh;
  display: none;
  position: relative;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.projects-title {
  font-size: 4rem;
  margin-top: 10rem;
  letter-spacing: 1.75rem;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
  
}

.row:not(:last-child) {
    margin-bottom: 8rem;
  }

.col-1-of-4 {
  width: calc((100% - 3 * 8rem) / 4);
  display: inline-block;
  margin-top: 10rem;
}

.col-1-of-4:not(:last-child) {
      margin-right: 6rem;
    }

.projects__box {
  border-radius: 2px;
  background-color: rgba(238, 238, 238,0.5);
  padding: 3rem 0;
}

.projects__name {
  font-weight: 300;
  margin-bottom: 1rem;
}

.projects__pic {
  border-radius: 2px;
  width: 20rem;
  height: 16rem;
  margin-bottom: 3rem;
  box-shadow: 0 3px 2rem rgba(4, 16, 16,.4);
}

.project-modal {
  background-color: rgba(4, 16, 16,.7);
  height: 90vh;
  padding: 3rem;
  display: relative;
}
.project-details {
  margin: 15rem auto;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  background-color: #eee;
  color: #777777;
  width: 50rem;
  text-decoration: none;
}

.back {
  cursor: pointer;
}

.project__tech-list {
  list-style: none;
  text-align: left;
  margin-left: 20rem;
}

.project-overview {
  text-align: left;
  margin: 1rem 3rem;
}

.project-links {
  list-style: none;
  
}

#weather-modal {
  display: none;
}

#flash-modal {
  display: none;
}

#drum-modal {
  display: none;
}

#markdown-modal {
  display: none;
}


@media (max-width: 925px) {
.heading-primary__main {
  font-size: 3rem;
  letter-spacing: 1.75rem;

}

.heading-primary__sub {
  font-size: 1.75rem;
  letter-spacing: 1.2rem;
}
}

@media (max-width: 675px) {
  .heading-primary__main {
  font-size: 2rem;
  letter-spacing: 1.25rem;

}

.heading-primary__sub {
  font-size: 1.5rem;
  letter-spacing: 1rem;
}
}

@media (max-width: 500px) {

  body {
  padding: 0rem;
}

#header {
  height: 100vh;
}

.header__text--box {
  top: 45%;
  
}
  .heading-primary {
    display: none;
  }
  .heading-primary-mobile {
    text-transform: uppercase;
    display: block;
    color: white;
  }

  .heading-primary-mobile__main {
    animation: fadein 2s ease-in;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.25rem;
    display: block;
  }

  .heading-primary-mobile__sub {
    animation: fadein 2s ease-in;
    font-size: 1.5rem;
    letter-spacing: 1rem;
    display: block;
  }

  .navbar-btn{
    margin-top: 2rem;
    margin-left: 0;
  }

  .links {
  position: absolute;
  top:1rem;
  right: 0;
}

.btn-link {
  font-size: 2.9rem;
}

  .close-x {
  right: 3rem;
  
}

#projects-modal {
  margin-top: 10px;
  margin-left: 11px;
  width: 94%;
  height: 96%;
}

  .projects-title {
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-left: 1rem;
  text-align: center;
}

.project-boxes {
  height: 75%;
  overflow-y: scroll;
}

.projects__box {
  margin-bottom: 5rem;
}

.col-1-of-4 {
  width: 250px;
  height: 300px;
  display: block;
  margin-top: 7rem;
  margin-left: 4.5rem;
}

#about-modal {
  margin-top: 10px;
  margin-left: 11px;
  height: 96%;
}

.about-details {
  margin-top: 30rem;
  margin-left: 0rem;
  overflow-y: auto;
  height: 50%;
}

.about__profilepic--box {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translateY(0%);
}

.about__profilepic {
  width: 20rem;
  border-radius: 50%;
}

.about__header {
  margin-top: 0;
  margin-left: 0rem;
  text-align: center;
  font-size: 1.5rem;
}

.about__summary {
  width: 310px;
  margin: 3rem 1rem;
  font-size: 1.6rem;
}

.about__tech-list {
  display: block;
  margin: 9rem 10rem;
  
}

.about__skills-list {
  display: block;
  padding-bottom: 1rem;
  margin: 1rem 10rem;
}

.project-modal {
  height: 96%;
  width: 94%;
  padding: 3rem;
}
.project-details {
  margin: 1rem 0.5rem;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  background-color: #eee;
  color: #777777;
  width: 85%;
  
  text-decoration: none;
}

.project__tech-list {
  margin-left: 10rem;
}

}


